@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --astro-color: #0C021E;
  --html-color: #f06529;
  --css-color: #264de4;
  --js-color: #F0DB4F;
  --ts-color: #007acc;
  --react-color: #61DBFB;
  --reactnative-color: #0a3b79;
  --angular-color: #a6120d;
  --ionic-color: #498AFF;
  --node-color: #68a063;
  --cs-color: #9b4993;
  --php-color: #484C89;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

select {
  cursor: pointer;
}